:root {
    --light: white;
    --dark: black;
    /* Obligatoire */
    --crm-primary: #1b296a;
    /* Obligatoire */
    --crm-secondary: #ed6840;
    --crm-ofp: #BEDCEC;
    --crm-alert: #cf2d4f;
    --crm-warning: #f6af2e;
    --crm-success: #488287;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 200px;
    justify-content: start;
    align-content: center;
    margin-bottom: 3rem;
}

header a {
    height: 80%;
    align-self: center;
}

header img {
    height: 100%;
}

header h1 {
    align-self: center;
    flex: 1;
    text-align: center;
    color: var(--crm-primary);
}

caption,
h2 {
    font-size: 4rem;
    font-variant-caps: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--crm-primary);
    margin-bottom: 3rem;
    text-align: center;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-width: 0;
    margin: 0 auto;
    background-color: var(--crm-ofp);
}

thead {
    color: var(--crm-primary);
}


th,
td {
    font-size: 85%;
    text-align: center;
    padding: 1rem;
}

td {
    background-color: var(--light);
    border: 1px solid var(--crm-ofp);
}


td span {
    display: block;
    margin: 0.5rem;
}

footer {

    height: 80px;
}

.userProfil {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 10vh;
}

.userProfil img {
    width: 20%;
}

.userProfil table {
    width: 50%;
}

.buttons {
    text-align: center;
}

button {
    background-color: var(--crm-primary);
    color: var(--light);
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: none;
}

button:hover {
    background-color: var(--crm-ofp);
    color: var(--dark);
}

fieldset {
    padding: 15px 10px;
    margin: 20px 10px;
}

#formAddUser input {
    width: 80%;
}

#addUserFS {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 5vh);
    grid-template-areas:
        "labelSurname labelFirstname"
        "surname firstname"
        "labelId labelEmail"
        "id email"
        "labelRole labelRole"
        "role role"
    ;
}

#labelSurname {
    grid-area: labelSurname;
}

#surname {
    grid-area: surname;

}

#labelFirstname {
    grid-area: labelFirstname;

}

#firstname {
    grid-area: firstname;

}

#labelId {
    grid-area: labelId;

}

#id {
    grid-area: id;

}

#labelEmail {
    grid-area: labelEmail;

}

#email {
    grid-area: email;

}

#labelRole {
    grid-area: labelRole;
}

#role {
    grid-area: role;
}